html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS*/

/* fonts */
@font-face {
  font-family: "Geometria";
  src: url("fonts/geometria-webfont.woff") format("woff"),
    url("fonts/geometria-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaMedium";
  src: url("fonts/geometria-medium-webfont.woff") format("woff"),
    url("fonts/geometria-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaBold";
  src: url("fonts/geometria-bold-webfont.woff") format("woff"),
    url("fonts/geometria-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaHeavy";
  src: url("fonts/geometria-heavy-webfont.woff") format("woff"),
    url("fonts/geometria-heavy-webfont.woff2") format("woff2");
}
/* fonts */

body {
  font-family: "Geometria", sans-serif;
}
header nav {
  display: inline-flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  background-color: #2311006d;
}

header nav ul {
  display: inline-flex;
  gap: 75px;
  justify-content: space-between;
  padding: 15px;
}

nav ul li {
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
#hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero img {
  object-fit: cover;
  min-width: 100%;
  height: 100vh;
}
#hero h2 {
  font-family: "GeometriaHeavy";
  color: aliceblue;
  font-size: 6em;
  display: inline-flex;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.277); */
  padding: 0.2em 0.5em;
  /* border-radius: 50%; */
  /* font-variant: small-caps; */
}
.hero-cafe {
  color: #231100;
}
.hero-lovers {
  font-family: "Geometria";
  color: #b25600;
}

/*CARDS*/
#grilla-card {
  width: 100%;
  height: auto;
  margin-top: 4em;
}

#grilla-card h2{
  font-size: 2.5em;
}

.card-separate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  margin: 2em;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 1em;
}
.img-card {
  /* padding: 0.5em 1em 1em 0.5em; */
  border-radius: 15px 15px 0 0;
}
h3 {
  font-family: 'GeometriaMedium';
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.p-card {
  padding: 0.5em;
  font-size: 16px;
  line-height: 1.725em;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.pie {
  background: #b25600;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  text-decoration: none;
  color: white;
}

#news-letter {
  max-width: 100%;
  height: auto;
  margin-top: 3em;
}
.p-newletter {
  margin: 0.5em 0.5em 1em 1em;
  text-align: center;
}
#news-letter h2 {
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
}
form input {
  margin: 0.5em 0.5em 1em 1em;
  height: 45px;
  width: 30%;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-color: #c0bbbb;
}
form button {
  margin: 0.5em 0.5em 1em 1em;
  height: 50px;
  width: 15%;
  text-decoration: none;
  color: white;
  background: #b25600;
  border-color: #b25600;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#call-to-action {
  width: 100%;
  height: auto;
  margin-top: 3em;
}

/* footer */
footer {
  width: 100%;
  height: 30vh;
  background-color: #231100;
  margin-top: 5em;
  color: #ffff;
  font-size: 20px;
}

footer ul{
  margin-top: 2em;
  display: flex;
}

i{
  width: 20%;
  height: auto;
  z-index: 10;
}

footer ul li{
  margin: 2em;
}

footer ul li a{
  text-decoration: none;
  color: #ffff;
}

footer ul li a :hover{
  text-decoration: none;
  color: #b25600;
}

/* footer */

/* .btn-magia {
  text-decoration: none;
  color: white;
  background: #6699ff;
  border-color: #6699ff;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 24px;
} */
/* how to video */
/* #how-to-video{
    background-color: ;
} */

#how-to-video iframe {
  margin-left: 10%;
  width: 80vw;
  height: 80vh;
}
/* how to video */
/* queries para desktop */
@media only screen and (min-width: 1080px) {
  .hamburguer {
    display: none;
  }
}
/* queries para desktop */

/* responsive-mobile */

@media only screen and (max-width: 600px) {
  header nav{
    overflow: hidden;
    position: absolute;
    min-height: 8em;
    line-height: 2em;
    background-color: #23110000;
  }
  .hamburguer {
    position: absolute;
    right: 1em;
  }
  #nav-ul {
    display: none;
  }
  .card-separate {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 90%;
    height: 70vh;
    margin: 0 5% 5% 5%;
  }

  #hero img {
    object-fit: cover;
    max-width: 100%;
  }
  #hero h2 {
    color: aliceblue;
    font-size: 3.75em;
    display: inline-flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
  }

  .card {
    margin-bottom: 5em;
  }

  .p-card {
    margin: 0;
  }

  #how-to-video iframe {
    margin-left: 10%;
    width: 80vw;
    height: 60vh;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form input {
    margin: 0.5em 0.5em 1em 1em;
    height: 45px;
    width: 70%;
  }
  form button {
    margin: 0.5em 0.5em 1em 1em;
    height: 50px;
    width: 50%;
    
  }
}

/* responsive-mobile */
