*{
    margin: 10px !important;
    padding: 10px !important;
}

.container{
 display: flex;
 flex-flow: column nowrap;
}
header{
    flex-flow: column nowrap;
}

.menu{
    background: rgb(61, 17, 183);
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}
 .logo{
    background:rgb(11, 176, 36);
    flex: 1 1 auto;
    height: 30px;
 }
 .nav{
    background:rgb(11, 176, 36);
    flex: 5 1 auto;
    height: 30px;
 }
 .social{
    background:rgb(11, 176, 36);
    flex: 1 1 auto;
    height: 30px;
 }
header, section, footer{
    display: flex;
    background: #000;
}

.texto-principal{
    background:rgb(11, 176, 36);
}
h1{
    background: yellowgreen;
}
.articulos{
    background: orange;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article{
    background: blue;
    flex: 1 1 40%;
}
.navegacion{
    background: lightblue;
    flex: 1 1 100%;

}
.aside{
    flex: 1 1 auto;
    background: #f73f52;
}
.publicidad{
    background: #ffea85;
}
.footer{
    background: black;
    display: flex;
    justify-content: center;
}
.pie{
    width: 300px;
    background: #e6a;
}
