body{
    display: flex;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header nav{
    display: flex;
    justify-content: end;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 1em;

}
