* {
    background-color:rgb(0, 0, 150);
    margin: 0;
    padding: 0;
}

 /*
header {
    background-color:rgb(0, 0, 150);
    width: 100%;
}

.logo {
    float: left;
    margin-right: 20px;
  }
  
  .logo img {
    height: 90px;
    padding-left: 15px;
    margin-top: 10px;
  }
  
  /* Estilos para la barra de navegación

  .header {
    background-color: rgb(0, 0, 150);
  }

  nav {
    float: right;
    background-color: rgb(0, 0, 150);

  }
  
  nav ul {
    list-style: none;
    margin: 15px;
    padding: 0;
    font-size: 20px;
    margin-top: 33px;
    
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
    color: goldenrod;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 193, 37);
    font-family: sans-serif;

  }
  
  nav a:hover {
    background-color: rgb(255, 194, 41);
    color: rgb(0, 0, 157);
  }

  */
  
header {
  display: flex;
  background-color: rgb(0, 20, 199);
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  background-color:rgb(0, 20, 199);
}

.logo img {
  height: 60px;
  margin-left: 10px;
  background-color:rgb(0, 20, 199);
}

nav {
  background-color: rgb(0, 20, 199);
  margin-left: 940px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  background-color:rgb(0, 20, 199);
  color: rgb(255, 214, 48);
  margin-right: 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

nav a {
  font-weight: 600px;
  padding-right: 10px;
}

nav a:hover {
  color: #ffffff;
}

.general {
  margin:auto;
  margin-top: 40px;
  width: 1450px;
  height: 910px;
  background-color:rgb(70, 95, 255) ;
}

.noticias1 {
  overflow: hidden;
  width: 600px;
  height: 500px;
  border: 2px solid #ffffff;
  float: right;
}


h1 {
  font-family: sans-serif;
  color: rgb(237, 190, 36);
  margin-left: 20px;
  margin-top: 130px;
  font-size: 38px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 90%;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.btn {
  display: inline-block;
  background-color: #0010c5;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
  width: 530px;
  font-family: sans-serif;
  font-size: 20px;
}

.btn:hover {
  background-color: #ffe856;
}

.noticias2 {
  overflow: hidden;
  width: 842px;
  height: 500px;
  background-color: rgb(12, 12, 99);
  border: 2px solid #ffffff;
  float: left;
}

.video {
  overflow: hidden;
  border: 3px solid #ffd21f;
  height: 410px;
}

.noticias3 {
  overflow: hidden;
  width: 600px;
  height: 500px;
  border: 2px solid #ffffff;
  float: right;
}

.noticias4 {
  overflow: hidden;
  width: 842px;
  height: 500px;
  background-color: rgb(12, 12, 99);
  border: 2px solid #ffffff;
  float: left;
}

/*
.noticias1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 */

  /*
  section {
    overflow: hidden;  Para evitar que el contenido desborde de la sección 
    display: inline-block;
    
  }

  aside {
    overflow: hidden;
    display: inline-block;
    margin-left: 50px;

  }
  
  .noticia1 {
    display: inline-block;
    width: 35%;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    float: left;
  }

  .noticia2 {
    display: inline-block;
    width: 35%;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    float: right;
  }

  
  .noticia img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .noticia h3 {
    font-size: 1.2em;
    margin: 0;
    color: rgb(255, 193, 37) ;
    font-family: sans-serif;
  }
  
  .noticia p {
    margin: 0 0 10px 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .boton {
    display: inline-block;
    background-color: #14006f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .boton:hover {
    background-color: #ffbb28;
  }
  
  */